html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 20px
}

.tech-block {
    border: 1px solid black;
    width: 400px;
    height: 200px;
    padding-top: 10px;
}

.profile {
    position: absolute;
    width: 214px;
    height: 208px;
    left: 24px;
    top: 61px;
    border-radius: 104px;
}