@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div class="row">
        <div class="col-12 col-md-8">
            I'm Martin Meyer, a web developer specializing in the .Net framework,
            Azure and JavaScript frameworks. I am a "Digital Transformation Agent" taking businesses into the digital age.
            Experienced Web Developer with a demonstrated history of working in the marketing and advertising industry.
            Skilled in SQL, JavaScript, Microsoft Azure, ASP.NET, and C#.
            Strong engineering professional with a Bachelor's Degree of Computing focused in Software Engineering from Belgium Campus.
        </div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-6 col-md-4 tech-block">
            Main:<br />
            C# (6 Years)<br />
            Azure (2 Year)<br />
            .Net Core (3 year)<br />
            Javascript (5 Years)<br />
            .Net Framework (6 Years)<br />
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 tech-block">
            Sidekick Stack:<br />
            SEO (4 Years)<br />
            Vue.js (2 years)<br />
            SQL Server (5 Year)<br />
            Elastic Search (3 Year)<br />
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 tech-block">
            Experimentals:<br />
            Web Analytics (2 Year)<br />
            Google Adwords (1 Year)<br />
            Google Search Console (1 Year)<br />
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 tech-block">
            Design:<br />
            CSS/HTML/LESS/SCSS (5 Years)<br />
            Web Design and UX (2 Years)<br />
            Hosting: Cpanel + Azure + IIS (3 Years)<br />
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 tech-block">
            Other:<br />
            Jquery + Typescript, Knockout (3 Years)<br />
            Jam - Stack (Headless CMS and .Net Core Front End)<br />
            Version Control: Merge, Manage Pull Requests and deployment (3 Years)<br />
            Continuous integration and project deployment using Jenkins and Azure (3 Years)
        </div>
    </div>
</div>